<mat-toolbar align="end" class="toolbar-menu">
  <mat-toolbar-row>
    <a mat-button class="logo">
      <span *ngIf="popText">{{ menuTitle }}</span>
    </a>
    <a routerLink="/painel">
      <img class="logo-image" src="../../../../assets/logo/_NEWCARD.PNG" alt="" />
    </a>
    <span>{{ title }}</span>

    <div class="content-center">
      <div>
        <button mat-button [matMenuTriggerFor]="menu" class="user-button">
          <div class="user-content">
            <mat-icon>supervised_user_circle</mat-icon>
            <span class="user-text">{{ currentUser?.name || 'usuário' }}</span>
          </div>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let user of users" (click)="selectUser(user)">
            {{ user.name }}
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
