.icon-space
{
  margin-right: 7px;
}

.icon-space-fa{
  font-size: 18px;
  margin: 5px 5px 0 0;
  background-color: red;
}

.mat-toolbar
{
  width: 100%;
  background-color: #f1f1f1;
  color: #326089;
}

.title{
  margin-top: 4px;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1rem;

}
