background {
    background: linear-gradient(to bottom, #0e6a8e, #ffffff);
    margin: 0;
    padding: 0;
  }
  
  .login-card {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  
  #meuBotao {
    background: linear-gradient(to bottom, #0e6a8e, #0056b3);
    transition: background 0.3s ease;
  }
  
  #meuBotao:hover {
    background: linear-gradient(to bottom, #0e6a8e, #007bff);
  }
  