
.content {
  margin-top: 15px;
  width: 99%;
  padding-left: 7rem;


  @media (min-width: 801px) and (max-width: 1900px) {
    width: 97%;
    margin-left: 1rem;

    background-color: #e0e0e0;
    
  }

  @media (max-width: 800px) {
    width: 95%;
    margin-left: 1rem;
    // padding: 2rem;
    background-color: #e0e0e0;
    
  }
}

