<div class="container-geral" >
  <div>
    <!-- <app-toolbar-title title="Painel" icon="fa-solid fa-chart-line">

          </app-toolbar-title> -->
    <div>
      <mat-card class="card-boasvindas">
        <mat-card-title class="boasvindas">
          {{ greetings }}

          <i class="fa-regular fa-thumbs-up"></i>

        </mat-card-title>
        <mat-card-content class="topAdvisor">
          Verifique à esquerda para iniciar um agendamento, consultar
          informações ou realizar um novo cadastro
        </mat-card-content>
      </mat-card>
    </div>
    <div class="search-container">
      <mat-card-subtitle>
        Veja como está o clima em sua cidade
      </mat-card-subtitle>

      <form class="form-pesquisar" (submit)="submitLocation(cityName)">
        <input
          matInput
          class="input-style"
          placeholder="Digite a Cidade"
          #cityName
        />
        <button class="botao-pesquisar" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <div class="loading" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>
    </div>

    <div class="weather-container mat-elevation-z4" *ngIf="weather" @fadeInOut>
      <div class="upperdata" >
        <div class="loading" *ngIf="isLoading" >
          <mat-spinner ></mat-spinner>
        </div>
        <img
        [src]="weather.weather.iconUrl"
        class="weather-icon"
        />


        <div class="weather-data" >
          <div class="location" >
            <i class="fa-solid fa-location-dot icone-local" ></i>
            {{ weather.name }}
            <i class="fa-solid fa-city icone-cidade" ></i>
          </div>
          <div class="temperature" >{{weather.main.temp| number: '1.0-0'}}ºC</div>
        </div>
      </div>

        <div class="lowerdata" >

          <div class="info-block" >
            <!-- <img src=" ../../../../../assets/Painel/img/clima-frio.png" /> -->
            <span >Sens. Term.</span>
            <i class="fa-solid fa-temperature-full" ></i>
          </div>
          <div class="info-block-value" >{{weather.main.feels_like| number: '1.0-0'}}ºC</div>


          <div class="info-block" >
            <!-- <img src=" ../../../../../assets/Painel/img/clima-frio.png" /> -->
            <span >MIN</span>
            <i  class="fa-solid fa-arrow-down"></i>
          </div>
          <div class="info-block-value" >{{weather.main.temp_min| number: '1.0-0'}}ºC</div>

          <div class="info-block" >
            <!-- <img src=" ../../../../../assets/Painel/img/clima-quente.png" /> -->
            <span >Max</span>
            <i class="fa-solid fa-arrow-up" ></i>

          </div>
          <div class="info-block-value" >{{weather.main.temp_max| number: '1.0-0'}}ºC</div>
      </div>
      <div class="lowerdata2" >
        <div class="info-block" >
          <!-- <img src=" ../../../../../assets/Painel/img/vento.png" /> -->
          <span >Vento</span>
          <i class="fa-solid fa-wind" ></i>
        </div>
        <div class="info-block-value" >{{weather.wind.speed | number: '1.0-0'}} Km/h</div>


        <div class="info-block" >
          <!-- <img src=" ../../../../../assets/Painel/img/umidade 2.png" /> -->
          <span >Umidade do Ar</span>
          <i class="fa-solid fa-droplet" ></i>
        </div>
        <div class="info-block-value" >{{weather.main.humidity| number: '1.0-0'}}%</div>
      </div>
    </div>

    