.content{
  background-color: #0e6a8e;

}


.calendar{
  margin: 0 auto;
  width: 70%;
  padding: 15px 0 15px 0;


  .demo-inline-calendar-card {
    width: 100%;

  }

  mat-calendar-body-label{
    width: 100%;
  }
}




