.content{
  background-color: #fff;
}

.form-pesquisar {
  display: flex;
  width: 70%;
  align-items: center;
  margin: 0 auto;
  padding-top: 15px;
  color: #1c2931 ;
}

.form-pesquisar:hover{
  color: #1c2931 ;
}
input{
  color: #1c2931 ;
}